.backdrop{
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    backdrop-filter: blur(40px);
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    animation: backdrop 0.5s ease-in forwards;
}
@keyframes backdrop {
    from{
        opacity: 0;
       
    }
    to{
        opacity: 1;
       
    }
}