.crewHolder {
  width: 80%;
  min-width: 30rem;
  min-height: 6rem;
  border: 1px solid #f84018;
  border-radius: 14px;
  padding: 1.5rem 1rem;
  background-color: #4f1202;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.title{
  background-color: transparent;
  backdrop-filter: blur(2px);
  position: absolute;
  top: -1.5rem;
  left: 2rem;
  padding-inline: 0.5rem;
  font-family: Formular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  font-size: large;
  font-weight: bolder;
  color: #f8714f;
}
.matriculesh{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.table{
    width: 97%;
  border-collapse: initial;
  border: 2px solid #f84018;
  border-radius: 20px;
  animation: rsin 0.25s ease-in forwards;
  table-layout: fixed;
}

.paradaTable{
    width: 30%;
}
.table th {
    font-family: Formular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    color: #f97d62;
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
  }
  .table td {
    text-align: center;
    padding: 8px;
    padding-top: 10px;
    color: #fdcec4;
    text-transform: uppercase;
    font-weight: 450;
  }
  .table th:first-of-type {
    border-radius: 14px 0 0 0;
  }
  .table th:last-of-type {
    border-radius: 0 14px 0 0;
  }
  .table tr {
    background-color: #1f0602;
  }
  .table tr:nth-child(even) {
    background-color: #4f1103;
  }
  .table th:first-of-type {
    border-radius: 14px 0 0 0;
  }
  .table th:last-of-type {
    border-radius: 0 14px 0 0;
  }
  .table tr:last-of-type td:last-of-type {
    border-radius: 0 0 16px 0;
  }
  .table tr:last-of-type td:first-of-type {
    border-radius: 0 0 0 14px;
  }
  