.crewHolder {
  width: 45%;
  min-width: 30rem;
  min-height: 6rem;
  border: 1px solid #f84018;
  border-radius: 14px;
  padding: 1.5rem 1rem;
  background-color: #4f1202;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.modify{
  width: 65%;
     height: 20rem;
     margin: auto;
     margin-top: 1.5rem;
}
.tableHolder {
  width: 100%;
  max-height: 20rem;
  overflow-y: auto;
  scroll-behavior: smooth;
  border-radius: 20px;
  border-bottom: 1px solid #f84018;
  border-top: 1px solid #f84018;
  border-left: none;
  
}
.tableHolder::-webkit-scrollbar {
  width: 4px;
  background-color: transparent;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

}
.tableHolder::-webkit-scrollbar-thumb {
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f81818;
}
.tableHolder::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 10px; 
}

.tableHolder::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 10px;
}

.title {
  background-color: transparent;
  backdrop-filter: blur(2px);
  position: absolute;
  top: -1.5rem;
  left: 2rem;
  padding-inline: 0.5rem;
  font-family: Formular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  font-size: large;
  font-weight: bolder;
  color: #f8714f;
}
.matriculesh {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.table {
  width: 100%;
  max-height: 10rem;
  border-collapse: initial;
  border: 1px solid #f84018;
  border-radius: 20px;
  animation: rsin 0.25s ease-in forwards;
  table-layout: fixed;
}

.paradaTable {
  width: 30%;
}
.table th {
  font-family: Formular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  color: #f97d62;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
}
.table td {
  text-align: center;
  padding: 8px;
  padding-top: 10px;
  color: #fdcec4;
  text-transform: uppercase;
  font-weight: 450;
}
.table th:first-of-type {
  border-radius: 14px 0 0 0;
}
.table th:last-of-type {
  border-radius: 0 14px 0 0;
}
.table tr {
  background-color: #1f0602;
}
.table tr:nth-child(even) {
  background-color: #4f1103;
}
.table th:first-of-type {
  border-radius: 14px 0 0 0;
}
.table th:last-of-type {
  border-radius: 0 14px 0 0;
}
.table tr:last-of-type td:last-of-type {
  border-radius: 0 0 16px 0;
}
.table tr:last-of-type td:first-of-type {
  border-radius: 0 0 0 14px;
}





.button {
    position: relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #681a09;
    background-color: #f84018;
    overflow: hidden;
    margin-left: auto;
  }
  
  .button, .button__icon, .button__text {
    transition: all 0.3s;
  }
  
  .button .button__text {
    transform: translateX(22px);
    color: #fff;
    font-weight: 600;
  }
  
  .button .button__icon {
    position: absolute;
    transform: translateX(109px);
    height: 100%;
    width: 39px;
    background-color: #96240b;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button .svg {
    width: 20px;
    fill: #fff;
  }
  
  .button:hover {
    background: #f84018;
  }
  
  .button:hover .button__text {
    color: transparent;
  }
  
  .button:hover .button__icon {
    width: 148px;
    transform: translateX(0);
  }
  
  .button:active .button__icon {
    background-color: #fa7a5d;
  }
  
  .button:active {
    border: 1px solid #f84018;
  }