.crewHolder,
.crewHolderP,
.crewHolderPSh,
.crewHolderPs {
  width: 45%;
  min-width: 30rem;
  min-height: 6rem;
  border: 1px solid #f84018;
  border-radius: 14px;
  padding: 1.5rem 1rem;
  background-color: #4f1202;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.crewHolderPSh{
  width: 95%;
  min-height: 10rem;
  margin: 2rem auto;
  background-color: #140400;

}
.crewHolderPs{
  width: 29%;
  min-width: 20rem;
}
.crewHolderPsM{
  background-color: #fee197;
}
.crewHolderPsE{
  background-color: #e6b15d ;
}
.crewHolderPsN{
  background-color: #634c2280;
}
.title,
.titles{
  background-color: transparent;
  backdrop-filter: blur(2px);
  position: absolute;
  top: -1.5rem;
  left: 2rem;
  padding-inline: 0.5rem;
}
.notFound,
.title,
.titles {
  font-family: Formular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  font-size: large;
  color: #f8714f;
  font-weight: bolder;
}
.titles{
 color: #ff0c0c;
}
.crewHolder span,
.crewHolderP span,
.crewHolderPs span {
  background-color: #f84018;
  height: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-size: large;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border: 1px solid #f84018;
  border-radius: 10px;
  cursor: pointer;
  color: aliceblue;
  font-weight: bolder;
}
.crewHolder span:hover {
  background-color: #8b1f04;
  transform: scale(1.1);
}
.crewHolderP span:hover{
  background-color: #8b1f04;
  transform: scale(1.1);
  cursor:grab;
}
.crewHolderP span:active {
  cursor:grabbing;
}