.holder {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  font-family: Formular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  font-size: large;
  color: #f8714f;
  font-weight: bolder;
}
.table {
  width: 97%;
  border-collapse: initial;
  border: 2px solid #f84018;
  border-radius: 20px;
  margin-bottom: 2rem;
  animation: rsin 0.25s ease-in forwards;
  table-layout: fixed;
}
/* .table thead {
  background-color: #4f1103 ;
} */
.table th {
  font-family: Formular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  color: #f97d62;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
}
.table th:first-of-type {
  border-radius: 14px 0 0 0;
}
.table th:last-of-type {
  border-radius: 0 14px 0 0;
}
.table tr {
  background-color: #1f0602;
}

.spec {
  cursor: pointer;
}
.spec:hover {
  background-color: #9b1e08;
}
.table td {
  text-align: center;
  padding: 8px;
  padding-top: 10px;
  color: #fdcec4;
  text-transform: uppercase;
  font-weight: 450;
}
.table tr:nth-child(even) {
  background-color: #4f1103;
}

.table tr:last-of-type td:last-of-type {
  border-radius: 0 0 14px 0;
}
.table tr:last-of-type td:first-of-type {
  border-radius: 0 0 0 14px;
}

@keyframes rsin {
  0% {
    opacity: 0;
    transform: translateY(6rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.input {
  border-radius: 14px;
  outline: 2px solid #f84018;
  border: 0;
  font-family: Formular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  background-color: #4f1103;
  outline-offset: 3px;
  padding: 0px 0.5rem;
  transition: 0.25s;
  width: 20rem;
  margin-bottom: 1rem;
  font-size: large;
  color: #fdcec4;
  text-align: center;
}
::placeholder {
  color: #fdcec4;
  font-family: Formular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  }

.input:focus, .input:hover {
  outline-offset: 5px;
  background-color: #F33716;
transform: scaleY(1.2);
}
