.crewHolder {
  width: 45%;
  min-width: 30rem;
  min-height: 6rem;
  border: 1px solid #f84018;
  border-radius: 14px;
  padding: 1.5rem 1rem;
  background-color: #4f1202;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.title {
  background-color: transparent;
  backdrop-filter: blur(10px);
  position: absolute;
  top: -1.5rem;
  left: 2rem;
  padding-inline: 0.5rem;
}
.notFound,
.title {
  font-family: Formular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  font-size: large;
  color: #f8714f;
  font-weight: bolder;
}
.crewHolder span {
  background-color: #f84018;
  height: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-size: large;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border: 1px solid #f84018;
  border-radius: 10px;
  cursor: pointer;
  color: aliceblue;
  font-weight: bolder;
}
.crewHolder span:hover {
  background-color: #8b1f04;
  transform: scale(1.1);
}
