.crewHolder,
.crewHolderP,
.crewHolderPSh,
.crewHolderPs {
  width: 45%;
  min-width: 30rem;
  min-height: 6rem;
  border: 1px solid #f84018;
  border-radius: 14px;
  padding: 1.5rem 1rem;
  background-color: #4f1202;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.crewHolderPSh{
  width: 95%;
  min-height: 10rem;
  margin: 2rem auto;
  background-color: #4f1202;

}
.crewHolderPs{
  width: 29%;
  min-width: 20rem;
}
.crewHolderPsM{
  background-color: #C7EDE6;
}
.crewHolderPsE{
  background-color: #FBCD59 ;
}
.crewHolderPsN{
  background-color: #010844;
}
.crewHolderAdmin{
  background-color:#8b1f04;
}
.crewHolderInfi{
  width: 80%;
  background-color:#121516;
  margin: auto;
  margin-top: 2rem;

}
.title,
.titles,
.titless,
.titler{
  background-color: transparent;
  backdrop-filter: blur(2px);
  position: absolute;
  top: -1.5rem;
  left: 2rem;
  padding-inline: 0.5rem;
}
.titless{
  left: 3.5rem;
}
.img, .imgs{
  width: 5rem;
  position: absolute;
  z-index: 1;
  top: -2rem;
  left: -1.5rem;
}
.imgsh{
  width: 7rem;
  position: absolute;
  z-index: 1;
  top: -2.5rem;
  left: -2.2rem;

}
.imgss{
  width: 3rem;
  top: -0.5rem;
  position: absolute;
  z-index: 1;
  left: 3.5rem;
}

.notFound,
.title,
.titles,
.titless,
.titler {
  font-family: Formular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  font-size: large;
  color: #f8714f;
  font-weight: bolder;
}
.titles{
 left: 46.5%;
}
.titler{
  color: #000000;
  left:4rem;
}
.crewHolder span,
.crewHolderP span,
.crewHolderPs span {
  background-color: #f84018;
  height: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-size: large;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border: 1px solid #f84018;
  border-radius: 10px;
  cursor: pointer;
  color: aliceblue;
  font-weight: bolder;
}
.crewHolder span:hover {
  background-color: #8b1f04;
  transform: scale(1.1);
}
.crewHolderP span:hover{
  background-color: #8b1f04;
  transform: scale(1.1);
  cursor:grab;
}
.crewHolderP span:active {
  cursor:grabbing;
}
.crewHolderInfi span{
  background-color: #393e41;
  border: 1px solid #000000;
}
.crewHolderInfi span:hover{
  background-color: #393e41;
}
.imgIn{
  width: 4rem;
  left: -0.5rem;
}

.btnHolder {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 3rem;
}
.btnHolder button {
    width: 30%;
  outline: none;
  cursor: pointer;
  border: none;
  padding: 10px 2rem;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  position: relative;
  display: inline-block;
  letter-spacing: 0.05rem;
  font-weight: 700;
  font-size: 17px;
  border-radius: 5px;
  overflow: hidden;
  background: #f84018;
  color: ghostwhite;
}

.btnHolder button span {
  position: relative;
  z-index: 10;
  transition: color 0.4s;
  text-transform: uppercase;
}

.btnHolder button:hover span {
  color: black;
}

.btnHolder button::before,
.btnHolder button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.btnHolder button::before {
  content: "";
  background: #8b1f04;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.btnHolder button:hover::before {
  transform: translate3d(100%, 0, 0);
}
