.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 90vh;
  margin-top: 10vh;
  min-height: 500px;
  overflow-x: hidden;
  overflow-y: auto;
}
.wrapper::-webkit-scrollbar {
  width: 4px;
  background-color: #535151;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.wrapper::-webkit-scrollbar-thumb {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f84018;
}

.slogan{
    font-family: Formular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    font-size: medium;
    color: #f84018;
    font-weight: bolder;
    
}
.slogan span{
  font-size: small;
    color: white;
    background-color: #f84018;
    padding: 5px;
    border-radius: 14px;
    white-space: nowrap;
    padding-inline: 10px;
}

.content{
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
    min-height: 10rem;
}
.center{
  width: 100%;
  margin: auto;
}


.card {
  width: 12.5rem;
  height: 14rem;
  background: #9b2910;
  padding: 2rem 1.5rem;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 1rem;
  border-radius: 14px;
  padding-bottom: 3rem;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease, opacity 0.2s ease;
  font-family: Formular, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  font-size: large;
  font-weight: bolder;
}


.card-avatar {
  --size: 10rem;
  background:url("../../assets/amine.png"), linear-gradient(to bottom, #dd3d19 0%, #9b2910 100%) ;
  background-size: cover; 
  background-position: center; 
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  transition: transform 0.2s ease;
  margin-bottom: 1rem;
}

.card-title {
  color: #333;
  font-size: 1.5em;
  font-weight: 600;
  line-height: 2rem;
}

.card-subtitle {
  color: #859ba8;
  font-size: 0.8em;
}

.card:hover {
  box-shadow: 0 8px 50px #23232333;
}

.card:hover .card-info {
  transform: translateY(-5%);
}

.card:hover .card-social {
  transform: translateY(100%);
  opacity: 1;
}

.card-social__item svg:hover {
  fill: #232323;
  transform: scale(1.1);
}

.card-avatar:hover {
  transform: scale(1.1);
}


.notificationk{
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}